
*{
  margin: 0;
  box-sizing: border-box;
}


body{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #dcdbd3;
  height: 100vh;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

.main_wrapper{
  height: 90%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 800px;
}

.main_wrapper::before{
  background-color: #009688;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 15%;
  content: "";
}

.avatar{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0 10px;
}


/* ASIDE ELEMENTS */

.left_container{
  height: 100%;
  width: 30%;
  min-width: 300px;
  max-width: 450px;
  background-color: #ffffff;
  border: 0.5px solid #d6d6d6;
  padding: 0;
  margin:0;

  overflow: hidden;
}

.main_container{
  height: 100%;
  width: 100%;
  min-width: 400px;
  max-width: 1080px;
  border: 0.5px solid #d6d6d6;
  padding: 0;
  margin:0;
}

/* TOP BAR ELEMENTS */

.left_container .top_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
  width: 100%;
  height: 70px;
  padding: 5px 10px;
}

.left_container .top_bar i{
  padding: 10px;
  font-size: 20px;
  color: #b1b1b1;
  cursor: pointer;
}

.left_container .top_bar .user_info{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  font-weight: bold;
}

/* NOTIFICATION BAR ELEMENTS */

.set_notification_bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #8edafc;
  width: 100%;
  height: 60px;
  padding: 20px;
}

.notification_icon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: white;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.notification_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 15px;
}

.notification_text a{
  font-size: 12px;
}

.notification_text span{
  font-size: 14px;
}

/* SEARCH BAR ELEMENTS */

.search_bar{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fafafa;
  width: 100%;
  height: 60px;
  padding: 10px 20px;
}

.search_bar .magnifying_icon i{
  padding: 10px 15px;
  font-size: 20px;
  background-color: white;
  color: #b1b1b1;
  border-radius: 2px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: none;  
}

.search_bar .search_input{
  width: 100%;
  height: auto;
}

.search_bar .search_input input{
  width: 100%;
  margin-left: -2px;
  color: #757575;
  border-radius: 2px;
  border: 1px solid lightgrey;
  padding: 8px 15px;
}

/* CONTACTS ELEMENTS */

.contacts_box{
  background-color: #ffffff;
  overflow-y: scroll;
  height: calc(100% - 70px - 60px - 60px);
  width: 100%;
}

.contact_element{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
  cursor: pointer;
}

.contact_element:hover{
  background-color: #e9eaeb;
}

.contact_element.clicked{
  background-color: #e9eaeb;
}


.contact_element .col_right{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact_element .col_left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contact_element .col_left .last_message{
  color: #b7b9bb;
  font-size: 13px;
}

/* MAIN CONTAINER ELEMENTS */

/* TOP BAR MESSAGES */

.top_contact_element{
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #eaeaea;
  width: 100%;
  height: 70px;
  padding: 5px 10px;
}

.top_col_left .top_last_message{
  color: #6a7376;
  font-size: 13px;
}

.top_contact_element .top_col_left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.date_last_message_box{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: 40px;
  font-size: 10px;
  color: grey;
}

.top_contact_element .top_col_right{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.top_contact_element .top_col_right i{
  padding: 10px;
  font-size: 20px;
  color: #b1b1b1;
  cursor: pointer;
}

/* MESSAGES ELEMENTS */

.messages_container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 60px - 70px);
  background-image: url(../img/mine.jpg);
  background-position:left;
  background-size: contain;
  background-repeat: repeat;
}

.messages_box{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 10% 10%;
}

.messages_box .message{
  position: relative;
  background-color: white;
  margin: 5px 0;
  min-width: 40%;
  max-width: 60%;
  border-radius: 10px;
  padding: 30px 20px;
  clear: both;
}

.messages_box .message .message_text{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messages_box .message .message_text i{
  display: none;
}

.messages_box .message .message_text:hover i{
  display: flex
}

.messages_box .message .message_time{
  position: absolute;
  right: 10px;
  bottom: 4px;
  font-size: 12px;
  color: #b7b9bb;
}

.messages_box .message.sent{
  float: right;
  background-color:#D5F9BA;
}

.messages_box .message.received{
  float: left;
}


/* SEND NEW MESSAGE ELEMENTS */

.send_message_bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3eeea;
  width: 100%;
  height: 60px;
}

.send_message_bar .left_icons_box i,
.send_message_bar .right_icons_box i{
  padding: 10px 25px;
  font-size: 25px;
  color: #b1b1b1;
  cursor: pointer;
}

.send_message_bar .input_text_box{
  width: 100%;
}

.send_message_bar .input_text_box input{
  width: 100%;
  color: #757575;
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
}